body {
    font-family: "DD-TTNorms", "-apple-system", "BlinkMacSystemFont", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

section.sectionum {
    background-image: url(img/Backgroundsection.jpg);
    height: 580px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    font-size: 60px;     
}

.doordash1 {
    height: 23px;
    
    margin-left: 10px;     
}

.principal {
    font-weight: 700;
}

nav {
    color: white;
    align-items: center;
    margin-left: 525px;
    margin-top: none;
    font-size: 25px;
    margin-right: 50px;
    height: 150px;
    padding-top: 25px;
    font-weight: 500;
}


.button1 {
    display: inline-block; 
    
    align-items: right;
    margin-left: 370px;
    margin-top: none;
    margin-right: none;
    border-radius: 50px;
    height: 40px;
    width: 70px;
    color: white;
    border: none;
    background: none;
    font-weight: bold;
}

.button2 {
    display: inline-block; 
    
    align-items: right;
    margin-left: 10px;
    margin-top: none;
    margin-right: none;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 70px;
    font-weight: bold;
}

section > div > a {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    padding: 20px;
}

section > div > input {
    height: 48px;
    width: 370px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    margin-top: 0px;
    
}

.button3 {
    background-color: rgb(253, 17, 0);
    color: white;
    font-size: 19px;
    height: 42px;
    border-radius: 100px;
    width: 43px;
    border: none;
    padding-bottom: 9px;
    z-index: +1;
    position: relative;
    right: 48px;
    
}

.table1 {
    text-align: center;
    height: 200px;
    padding-left: 100px;
    margin-left: 150px;
    margin-top: 125px;
    font-size: 20px;
    font-family: "DD-TTNorms", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
    border-spacing: 200px 0px;
}

.table1 > thead > tr > th > .img3 {
   width: 200px;
   height: 154px;
}
    
.table1 > tr > td > h2 {
    font-weight: bold;
    font-size: 37px;
    font-family: "TTNorms";
    margin-left: 125px;
}

.table2 > tbody > tr > td > h2 {
    margin: 0px;
    font-size: 40px;

}

.table2 > tbody > tr > td > .img4 {
    margin-top: 100px;
    
}

.button4 {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: rgb(253, 17, 0);
    color: white;
    font-weight: bold;
}

section > div > h2 {
    font-weight: bold;
    font-size: 40px;
    padding-top: 0px;
    margin-left: 100px;
}

section div p {
    margin-left: 100px;
}

.button4 {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: rgb(253, 17, 0);
    color: white;
    font-weight: bold;
}